CompileFlags:
  CompilationDatabase: "build/debug"
  Add:
    - "-I/usr/lib/gcc/x86_64-linux-gnu/11/include"
    - "-I/usr/lib/gcc/x86_64-linux-gnu/12/include"
    - "-I/usr/lib/gcc/x86_64-linux-gnu/13/include"
    - "-I/usr/lib/gcc/x86_64-linux-gnu/14/include"
    - "-I/usr/lib/gcc/x86_64-linux-gnu/15/include"
